<!DOCTYPE html>
<html lang="fa">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>قالب تستی متریال</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize-rtl.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><i class="material-icons">flash_on</i> لوگو</a>
      <ul class="left hide-on-med-and-down">
        <li><a href="http://joomlacollege.ir">آموزشگاه جوملا</a></li>
        <li><a href="http://slms.ir">سامانه آموزش الکترونیکی</a></li>
        <li><a href="http://www.cmslog.ir">وبلاگ CMSLog</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="http://joomlacollege.ir">آموزشگاه جوملا</a></li>
        <li><a href="http://slms.ir">سامانه آموزش الکترونیکی</a></li>
        <li><a href="http://www.cmslog.ir">وبلاگ CMSLog</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">یک قالب آماده برای شروع</h1>
      <div class="row center">
        <h5 class="header col s12 light">بی نظیر ترین فریم ورک با طراحی متریال دیزاین</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">همین حالا شروع کنید</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">سرعت </h5>

            <p class="light">بارگذاری اطلاعات و کتابخانه‌ها در این فریم ورک نسبت به سایر فریم‌ورک‌های موجود برای متریال دیزاین، بالاتر است.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">تجربه کاربری</h5>

            <p class="light">ما به خواسته‌ی شما اهمییت می‌دهیم. در این فریم ورک سعی شده کلیه مواردی که برای یک تجریه‌ی خوب کاربری نیاز است رعایت شود.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">ساده و راحت</h5>

            <p class="light">طراحی قالب با این فریم با توجه به رعایت استانداردهای تجربه کاربری راحت بوده و شما می‌توانید با کمترین کد قالب خود را طراحی کنید.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">درباره ما</h5>
          <p class="grey-text text-lighten-4">متریال دیزاین یکی از مدل‌های طراحی مدرن بوده که توسط گوگل ارائه شده است. نمونه‌ای از این طراحی‌ها در اپلیکیشن‌های گوگل قابل مشاهده است. حال با استفاده از این فریم ورک قادر خواهید بود این نوع طراحی را در اپلیکیشن، وب و هر آنچیزی که نیاز به CSS دارد را پیاده سازی نمایید</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">لینک‌ها</h5>
          <ul>
            <li><a class="white-text" href="#!">لینک 1</a></li>
            <li><a class="white-text" href="#!">لینک 2</a></li>
            <li><a class="white-text" href="#!">لینک 3</a></li>
            <li><a class="white-text" href="#!">لینک 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">تماس</h5>
          <ul>
            <li><a class="white-text" href="#!">لینک 1</a></li>
            <li><a class="white-text" href="#!">لینک 2</a></li>
            <li><a class="white-text" href="#!">لینک 3</a></li>
            <li><a class="white-text" href="#!">لینک 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      ساخته شده توسط <a class="orange-text text-lighten-3" href="http://materializecss.com">فریم ورک متریال CSS</a> 
     راستچین شده توسط <a class="orange-text text-lighten-3" href="http://safajuy.ir"> میلاد صفاجوی</a> 

      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../js/materialize.js"></script>
  <script src="../js/init.js"></script>

  </body>
</html>
